*,
*::before,
*::after {
	box-sizing: border-box;
}

ul {
	list-style: none;
	padding: 0;
}

body {
	margin: 0;
	background-image: url(../assets/background.jpg);
	background-size: cover;
	background-position: right;
	height: 100vh;
	font-family: "Cairo", sans-serif;
	display: flex;
	justify-content: center;
}

body::after {
	content: "";
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
	background-color: rgba(0, 0, 0, 0.5);
        background-attachment: fixed;
}

.container {
	display: flex;
	gap: 30px;
	justify-content: center;
	align-items: center;
}

@media (max-width: 920px) {
	.container {
		display: block;
	}
}

.info {
	min-height: 350px;
	border-radius: 5px;
	padding: 20px;
	color: #fff;
	display: flex;
	flex-direction: column;
}

@media (min-width: 900px) {
	.info {
		min-width: 450px;
	}
}

.info input {
	background: none;
	border: none;
	border-bottom: 1px solid #999;
	outline: none;
	color: white;
	width: calc(100% - 40px);
	padding-right: 25px;
	padding-bottom: 5px;
}

.info input::placeholder {
	color: #ffffffba;
	font-weight: 100;
}

.info i {
	padding: 10px;
	width: 30px;
	height: 30px;
	text-align: center;
	display: inline-block;
	cursor: pointer;
	font-size: 15px;
}

.info .location {
	margin-top: 20px;
}

.info .location .city {
	font-size: 50px;
	font-weight: 400;
}

@media (max-width: 500px) {
	.info .location .city {
		font-size: 35px;
	}
}

@media (min-width: 900px) {
	.info .location .city {
		font-size: 65px;
		font-weight: 500;
	}
}

.info .location .country {
	font-size: 20px;
}

.info .date-time {
	margin-top: -10px;
	font-size: 15px;
	font-weight: 200;
}

@media (min-width: 900px) {
	.info .date-time {
		margin-top: -30px;
		margin-bottom: 10px;
	}
}

.info .date-time .time {
	margin-top: -5px;
}

.info .next-prayer-time {
	margin-top: auto;
	height: 120px;
	width: 400px;
	text-align: center;
}

@media (max-width: 500px) {
	.info .next-prayer-time {
		width: 100%;
	}
}

.info .time-till-next {
	background-color: rgba(255, 222, 131, 0.3);
	border-radius: 10px;
	margin-bottom: 0;
	box-shadow: 2px 2px 6px 1px rgb(0 0 0 / 10%);
}

.info .time-till-next time {
	font-weight: 900;
	font-size: 82px;
}

.info .next-prayer {
	font-size: 20px;
	font-weight: 400;
	margin-top: -40px;
}

.info .next-prayer span {
	color: rgb(255, 174, 0);
	font-weight: bold;
	font-size: 40px;
}

.prayers {
	border-radius: 5px;
	display: flex;
	align-items: flex-end;
	min-height: 350px;
}

@media (max-width: 500px) {
	.info {
		width: 350px;
	}
	.prayers {
		width: 350px;
	}
}

@media (max-width: 920px) {
	.prayers {
		margin-top: 60px;
	}
}

.prayers ul {
	padding: 0 20px 20px;
	width: 100%;
	margin-bottom: -45px;
}

.prayers .prayer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	background-color: rgba(240, 248, 255, 0.514);
	padding: 0 10px;
	border-radius: 2px;
	font-size: 20px;
	width: 450px;
	height: 45px;
	transition: transform 0.3s ease;
}

@media (max-width: 700px) {
	.prayers .prayer {
		width: 100%;
	}
}

.prayers .prayer:last-child {
	margin-bottom: 0;
}

.prayers .prayer.active {
	background-color: rgba(255, 222, 131, 0.786);
	box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.3);
	transform: scale(1.05);
}

.lds-ring {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 10000;
	width: 100%;
	height: 100%;
	background-color: #000000ef;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s ease;
}

.lds-ring.active {
	visibility: visible;
	pointer-events: all;
	opacity: 1;
}

.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid #fff;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}

@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
